<nav class="navbar bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <button type="button" class="btn btn-dark btn-sm rounded-circle" style="width: 50px; height: 50px">
        <fa-icon [icon]="userIcon" size="xl"></fa-icon>
      </button>
    </a>
    <p class="m-1 fs-3">
      <fa-icon [icon]="houseIcon" ></fa-icon>
    </p>
    <button type="button" class="btn btn-dark btn-sm rounded-circle" style="width: 50px; height: 50px"  >
      <fa-icon [icon]="eyeIcon" size="xl"></fa-icon>
    </button>
  </div>
</nav>

<div class="container p-3">

  <div class="row">
    <div class="col-sm-3 text-center">
      <div class="card text-bg-dark mb-3" style="min-width: 13rem; min-height: 8rem;">
        <div class="card-body p-5 text-danger">
          <div class="row">
            <div class="col-2">
              <button type="button" class="btn btn-danger btn-sm rounded-circle" style="width: 50px; height: 50px" disabled>
                <fa-icon [icon]="dangerIcon" size="xl"></fa-icon>
              </button>
            </div>
            <diV class="col-10">
              <h5 class="card-title">Gastos</h5>
              <h4 class="card-text">R$ 1.739,77</h4>
              <a href="#" class="stretched-link"></a>
            </diV>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="card text-bg-dark mb-3" style="min-width: 13rem; min-height: 8rem;">
        <div class="card-body p-5 text-success">
          <div class="row">
            <div class="col-2">
              <button type="button" class="btn btn-success btn-sm rounded-circle" style="width: 50px; height: 50px" disabled>
                <fa-icon [icon]="moneyIcon" size="xl"></fa-icon>
              </button>
            </div>
            <diV class="col-10">
              <h5 class="card-title">Receita</h5>
              <h4 class="card-text">R$ 8.790,00</h4>
              <a href="#" class="stretched-link"></a>
            </diV>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="card text-bg-dark mb-3" style="min-width: 13rem; min-height: 8rem;">
        <div class="card-body p-5">
          <div class="row">
            <div class="col-2">
              <button type="button" class="btn btn-warning btn-sm rounded-circle" style="width: 50px; height: 50px" disabled>
                <fa-icon [icon]="ideaIcon" size="xl" style="color: white"></fa-icon>
              </button>
            </div>
            <diV class="col-10">
              <h5 class="card-title">Sugestão</h5>
              <h4 class="card-text">R$ 873,56</h4>
              <a href="#" class="stretched-link"></a>
            </diV>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">

      <div class="card text-bg-dark mb-3" style="min-width: 13rem; min-height: 8rem;">
        <div class="card-body p-5 text-success">
          <div class="row">
            <div class="col-2">
              <button type="button" class="btn btn-success btn-sm rounded-circle" style="width: 50px; height: 50px" disabled>
                <fa-icon [icon]="plusIcon" size="xl"></fa-icon>
              </button>
            </div>
            <diV class="col-10">
              <h5 class="card-title">Variação</h5>
              <h4 class="card-text">12%</h4>
              <a href="#" class="stretched-link"></a>
            </diV>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container p-3">
  <div class="row">
    <div class="col">
      <div class="card text-bg-dark text-center" style="height: 18rem">
        <div class="card-body">

          <h4 class="card-title p-5">Carregando informações...</h4>

          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 55%; background-color: #069B77" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
